* {
	background-color: black;
	box-sizing: border-box;
	color: white;
	font-family: Arial;
}

.main {
    border-radius: 10px;
	margin: 1% 20%;
	position: absolute;
	overflow: hidden;
	width: 500px;
	height: 700px;
	border: 4px solid #fff;
}

.tetris {
	width: 500px;
	height: 900px;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
}

.excel {
	width: 50px;
	height: 50px;

}

.figure, .set, .figureicon {
    box-shadow: inset 0 0 4px;
	color: black;
    border-radius: 10%;
}

.color0 {background: linear-gradient(to right top, #eae2ec, #9410b5); } /* фиолетовый */
.color1 {background: linear-gradient(to right top, #ffffff, #fbff00); } /* желтый */
.color2 {background: linear-gradient(to right top, #dedcea, #2700ff); } /* синий */
.color3 {background: linear-gradient(to right top, #e1eae2, #218e0d); } /* зеленый */
.color4 {background: linear-gradient(to right top, #e1eae2, #bb0202); } /* красный */
.color5 {background: linear-gradient(to right top, #d0d0d0, #00b9b9); } /* бирюзовый */
.color6 {background: linear-gradient(to right top, #f7e2cc, #ff8d00); } /* оранжевый */


input {
    font: 24pt sans-serif;
    border-radius: 15px;
    width: 200px;
    height: 70px;
    text-align: center;
    margin: 20px;
}

.info {
	float: right;
    margin: 1% 20%;
	text-align: center;
    border-radius: 15px;
    border: 2px solid white;
    width: 300px;
}

.figureNext {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.smallExcel {
	width: 50px;
	height: 50px;

}
input#start {
    position: absolute;
    margin: 23% 32%;
    z-index: 100;
}

.level {
    border: 0;
    border-radius: 0;
    width: 25px;
    height: 25px;
}

li {
    text-align: start;
}